{% extends 'base.html' %}
{% block main %}
    <article class="blog">
    <header class="entry-header">
        <h2>{{ blog.title }}</h2>
        <div class="entry-meta-detail">
            <span class="blog-category">
                <a href="{% url 'blog:category' blog.category.id %}">{{ blog.category.name }}</a>
            </span>
            <span class="blog-date">
                <a href="#">{{ blog.create_time }}</a>
            </span>
            <span class="blog-author">
                <a href="{% url 'blog:author' blog.author.id %}">{{ blog.author.nikename }}</a>
            </span>
            <span class="views-count">
                <a href="#">{{ blog.views }}阅读</a>
            </span>
        </div>
        </header>
     <div class="entry-content clearfix">
            {{ blog.body|safe }}
     </div>
    </article>
    {% include 'blog_list.html' %}
{% endblock main %}